<div class="card">
  <h2 class="card-title text-center">請輸入你的支出</h2>
  <div class="card-body">
    <form action="/records/new" method="post">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="name">名稱*</label>
        </div>
        <input type="text" name="name" id="name" class="form-control" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="date">日期*</label>
        </div>
        <input type="date" name="date" id="date" class="form-control" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="category">類別*</label>
        </div>
        <select class="custom-select" name="category" id="category">
          {{#each categoryInfo}}
          <option value="{{@key}}">{{this.label}}</option>
          {{/each}}
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="amount">金額*</label>
        </div>
        <input type="number" name="amount" id="amount" class="form-control" required>
      </div>

      <div class="row justify-content-center">
        <button type="submit" class="col-6 btn btn-primary">新增支出</button>
      </div>
    </form>
  </div>
</div>